src/main/wsdl/Service.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Execute">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlCommand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecuteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteSoapIn">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ExecuteSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteHttpGetIn">
    <wsdl:part name="xmlCommand" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteHttpPostIn">
    <wsdl:part name="xmlCommand" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ExecuteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="serviceSoap">
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteSoapIn" />
      <wsdl:output message="tns:ExecuteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="serviceHttpGet">
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteHttpGetIn" />
      <wsdl:output message="tns:ExecuteHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="serviceHttpPost">
    <wsdl:operation name="Execute">
      <wsdl:input message="tns:ExecuteHttpPostIn" />
      <wsdl:output message="tns:ExecuteHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviceSoap" type="tns:serviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceSoap12" type="tns:serviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://tempuri.org/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceHttpGet" type="tns:serviceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Execute">
      <http:operation location="/Execute" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviceHttpPost" type="tns:serviceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Execute">
      <http:operation location="/Execute" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="serviceSoap" binding="tns:serviceSoap">
      <soap:address location="http://boinfbxwiq:60610/GIGA.ECM/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceSoap12" binding="tns:serviceSoap12">
      <soap12:address location="http://boinfbxwiq:60610/GIGA.ECM/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceHttpGet" binding="tns:serviceHttpGet">
      <http:address location="http://boinfbxwiq:60610/GIGA.ECM/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="serviceHttpPost" binding="tns:serviceHttpPost">
      <http:address location="http://boinfbxwiq:60610/GIGA.ECM/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>